---
const teamMembers = [
  {
    id: 1,
    name: "Vanessa Martinez",
    image: "https://scontent.fmex27-1.fna.fbcdn.net/v/t39.30808-6/438098495_10220942690951734_3445714403802281142_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Qtnbw2n9afAQ7kNvgG_cez2&_nc_zt=23&_nc_ht=scontent.fmex27-1.fna&_nc_gid=AmoYTQ80mPoJK9_AT4mmNHN&oh=00_AYBlm6WNwEbZ3XREFNkwaP_Z9AjAxmLK1x5VchDBRS5dIQ&oe=671F0EF7",
    description: "Miau",
    caracteristica: "https://images.emojiterra.com/google/noto-emoji/animated-emoji/1f996.gif"
  },
  {
    id: 2,
    name: "Angel Martinez",
    image: "https://scontent.fmex36-1.fna.fbcdn.net/v/t1.18169-9/14650229_10202396952281385_6626719323710569782_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=53a332&_nc_ohc=UD4zMzwMTa4Q7kNvgFVqqtb&_nc_zt=23&_nc_ht=scontent.fmex36-1.fna&oh=00_AYCkCiy2lgEKgVfUbc8TMStFciHO0t53fA0fNujBlfqFkw&oe=67409F48",
    description: "Miau",
    caracteristica: "https://media1.giphy.com/media/KvI1A7ma7Pk48eZ5as/giphy.gif?cid=790b76116c68sful422vd14h2trs0uuys7ay59fkb89l4vz9&ep=v1_stickers_search&rid=giphy.gif&ct=s"
  },
  {
    id: 3,
    name: "Ariel Martinez",
    image: "https://scontent.fmex23-1.fna.fbcdn.net/v/t39.30808-6/351160130_3338103456501930_5568334464244966501_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=MJ7rAguW5TMQ7kNvgH8mJ9H&_nc_zt=23&_nc_ht=scontent.fmex23-1.fna&_nc_gid=A4Tdr09uy4CKNPpvX5yWK6I&oh=00_AYC6_VmWff-F05xuwIWqFrZN7ruNlP6OnrxZ_FW8cfviVg&oe=671F0AC3",
    description: "Miau",
    caracteristica: "https://i.pinimg.com/originals/15/f8/d9/15f8d95466dea0f7e077705fcc29b702.gif",
  }
];

---
<section class="max-w-screen-xl mx-auto px-4 py-16 bg-gray-100 rounded-lg shadow-lg">
  <div class="text-center mb-12">
    <h1 class="text-5xl font-bold text-gray-800 mb-4">Sobre Nosotros - Jurassic Pan</h1>
    <p class="text-lg text-gray-600 leading-relaxed">
      Hola, somos Jurassic Pan, tres hermanos universitarios que decidimos emprender en el delicioso mundo de la panadería, ofreciendo sabores únicos e innovadores.
    </p>
  </div>
  
  <div class="overflow-hidden mb-32">
    <div class="flex animate-scroll gap-8 hover:pause">
      {teamMembers.map((member) => (
        <a href={`#member-${member.id}`} class="flex-none w-80 text-center bg-white p-3 rounded-xl shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl hover:bg-gray-50">
          <img src={member.image} alt={member.name} class="w-full object-cover rounded-lg" />
          <h3 class="mt-3 text-lg font-semibold text-gray-900">{member.name}</h3>
        </a>
      ))}
    </div>
  </div>
  
  <div class="flex flex-col gap-16">
    {teamMembers.map((member) => (
      <div id={`member-${member.id}`} class="grid grid-cols-1 md:grid-cols-2 gap-8 p-4 bg-white rounded-lg shadow-md">
        <img src={member.image} alt={member.name} class="w-ful object-cover rounded-lg transform transition-transform hover:scale-105 shadow-lg" />
        
        <div class="flex flex-col justify-center">
          <div class="flex gap-4 items-center h-16">
            <h2 class="text-3xl font-extrabold mb-0 text-gray-900">{member.name}</h2>
            <img src={member.caracteristica} class="w-12"/>
          </div>
          <p class="text-base text-gray-700 leading-relaxed">{member.description}</p>
        </div>
      </div>
    ))}
  </div>
</section>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% / 2));
    }
  }

  .animate-scroll {
    animation: scroll 25s linear infinite;
  }

  .pause:hover {
    animation-play-state: paused;
  }
</style>
